<!DOCTYPE html>
<html>
  <head>
    {% comment %} {% load static %} {% endcomment %}
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Fior - Flower4U</title>

    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"
    />

    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'ecommerce/css/bootstrap.css' %}"
    />

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="{% static 'ecommerce/css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'ecommerce/css/responsive.css' %}" rel="stylesheet" />

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'ecommerce/js/bootstrap.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'ecommerce/js/custom.js' %}"
    ></script>
  </head>
  <body>
    {% include 'ecommerce/layouts/nav.html' %}

    <header>{% block header %}{% endblock %}</header>

    <main>{% block content %}{% endblock %}</main>

    {% include 'ecommerce/layouts/info.html' %}

    <footer class="container-fluid footer_section">
      {% block footer %}
      <p>&copy; <span id="displayYear"></span> All Rights Reserved</p>
      {% endblock %}
    </footer>
    <!-- Google Map -->
    {% comment %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    {% endcomment %}
    <!-- End Google Map -->
  </body>
</html>
