{% extends 'ecommerce/layouts/base.html' %} {% block content %}
<!-- about section -->
<section class="about_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-7">
        <div class="img-box">
          <img src="{% static 'ecommerce/images/about-img.png' %}" alt="" />
        </div>
      </div>
      <div class="col-md-5 col-xl-5">
        <div class="detail_box">
          <div class="heading_container justify-content-end">
            <h2>About Flowers</h2>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since ever since ever since
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about section -->
{% endblock %}
